* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --lightColor: rgb(20, 163, 219);
  --darkColor: rgb(30 48 80);
  --cardBg: rgb(20 163 219 / 0.15); */
  --lightColor: #159895;
  --lightColor2: #57c5b6;
  --darkColor2: #1a5f7a;
  --darkColor: #002b5b;
  --cardBg: #f5f5f5;
  --zindex-tooltip: 300;
}

body {
  font-family: sans-serif;
  padding-inline: max(calc(50vw - 600px), 1rem);
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stack.g05 {
  gap: 0.5rem;
}

.stack.g0 {
  gap: 0.25rem;
}

.inline {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.inline.g15 {
  gap: 1.5rem;
}

.columns > * {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .columns {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }
}

.center {
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 0.5rem 3rem;
  cursor: pointer;
  font-weight: bold;
}

button.primary {
  background: var(--darkColor);
  color: #fff;
}

*::-webkit-scrollbar {
  background: rgb(0 0 0 / 0.1);
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 0.2);
  border-radius: 5px;
}

input {
  padding: 0.5rem 1rem;
}

.title {
  color: var(--lightColor);
  font-size: 16px;
}

.heading {
  color: var(--darkColor);
  font-weight: 700;
  font-size: 24px;
}

big.heading {
  font-size: 32px;
}
